<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Aktuelle ReLive's</li>
      {% for episode in episodes %}
      	{% set podcast = episode.__get('podcast') %}
      	<li><a href="{{ url_rt({'controller': 'podcast',
      													'action'		: 'episode',
      													'podcast'		: podcast.prefix,
      													'id'				: episode.episode
      												}) 
      								}}">
      		{{ podcast.prefix }}{{ "%02d"|format(episode.episode) }}
      		{% if episode.name %}
      		– {{ episode.name }}
      		{% endif %}
      	</a></li>
      {% else %}
      <li>Keine Episoden</li>
      {% endfor %}
      <!--<li class="active"><a href="#">Link</a></li>-->
    </ul>
  </div><!--/.well -->
</div><!--/span-->